$font: 'Montserrat', sans-serif;

//colores
$white: #FFFFFF;
$gray: #f7f7f6;
$blue: rgb(42, 63, 119);
$yellow: #CAA55E;
$yellow-barra: rgb(202, 165, 94, 100%);
$black: #000000;


//Medidad Queries
$telefono: 408px;
$tablet: 930px;
$desktop: 1200px;

//fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

//seapraciones
$separacion: 5rem;